#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_clean:
	make distclean

override_dh_auto_configure:
	env
	make wandboard_quad_config

override_dh_install:
	mkdir -p -m 755 $(DESTDIR)/boot;true
	cp u-boot.imx $(DESTDIR)/boot/u-boot-wandboard-quad.imx

